#contact {
  height:60vh;
  font-family:'Open Sans';
  margin-top: 4em;
  width: 100%;
}

#contact .container {
  flex-direction: column;
  gap: 2rem;
}

#contact .container > h2 {
  font-size: 2rem;
}

#contact .container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#contact .container > div > div:first-of-type {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#contact .container > div > div:first-of-type > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

#contact .container > div > div:first-of-type > div .card {
  font-weight: bold;
  width: 200px;
  height: 100px;
  box-shadow: 0 0 10px #dbdbdb;
  display: flex;
  border-radius: 5px;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact .container > div > div:first-of-type > div .card a {
  
  font-weight: normal;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  color: gray;
  transition: all 0.5s;
}

#contact .container > div > div:first-of-type > div .card a:hover {
  gap: 1rem;
}

#contact .container > div > div:last-of-type {
  align-self: flex-start;
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#contact .container > div > div:last-of-type > form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

#contact .container > div > div:last-of-type > form .message-info {
  position: relative;
  width: 100%;
}

#contact .container > div > div:last-of-type > form .message-info label {
  font-weight: bold;
  border-radius: 10px;
  padding: 0 0.1rem;
  position: absolute;
  z-index: 11;
  top: -0.8rem;
  left: 1rem;
  font-size: 0.8rem;
  background-color: whitesmoke;
  text-transform: lowercase;
}

#contact .container > div > div:last-of-type > form input,
#contact .container > div > div:last-of-type > form textarea {
  box-shadow: 0 0 10px rgb(235, 235, 235);
  border: 1.5px solid gray;
  outline: none;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
}

#contact .container > div > div:last-of-type > form textarea {
  resize: none;
  overflow: auto;
  &::-webkit-scrollbar {
  display: none;
  }
}

#contact .container > div > div:last-of-type > form button{
  cursor: pointer;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.5s;
  
}

#contact .container > div > div:last-of-type > form button:hover {
  transform: scale(0.9);
  background-color: #bb8ab4;
  color:rgb(17, 16, 16);
  font-weight: 600;
}
form a{
  color:black;
}
@media only screen and (max-width: 540px) {
  #contact {
    height: unset;
  }

  #contact .container > div {
    flex-direction: column;
  }

  #contact .container > div > div:first-of-type {
    margin-bottom: 20px;
    width: 100%;
    gap: 1rem;
  }

  #contact .container > div > div:first-of-type > div {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }

  #contact .container > div > div:first-of-type > div .card {
    font-weight: bold;
    width: 130px;
  }

  #contact .container > div > div:last-of-type {
    width: 100%;
  }

  #contact .container > div > div:last-of-type > form {
    > .message-info input {
      padding: 0.8rem;
    }
  }

  #contact .container > div > div:last-of-type > form button {
    padding: 0.8rem 0.5rem;
  }
}
